.todolist {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 30px 0;
}

.form {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 1px solid red; */
}

.form_block {
  display: flex;
  gap: 20px;
  position: relative;
}

.error::placeholder {
 color: red;
}

.form_block input {
  width: 100%;
  border: none;
  padding: 10px 0px;
  outline: none; 
  font-size: 18px;
}

.form_block button {
  border: none;
  /* padding: 0 90px; */
  width: 100px;
  cursor: pointer;
  background: rgb(174, 227, 174);
  color: rgb(56, 51, 51);
  border-radius: 4px;
  transition: 0.3s;
}

.form_block button:hover {
  background: rgb(100, 223, 100);
}

.list {
  width: 500px;
  margin-top: 30px;
}

.todoItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
}

.todoItem.done p {
  text-decoration: line-through;
  opacity: 0.2;
}

.items {
  display: flex;
  align-items: center;
  gap: 5px;
}

.items button:nth-child(1) {
  width: 20px;
  height: 20px;
  border: none;
}

.actions button {
  background: lightcoral;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  padding: 3px 8px;
  border-radius: 4px;
}

.actions button:hover {
  color: rgb(0, 0, 0);
}

.error {
  color: red;
}